body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-pokemon {
  background-color: #f44336; /* Color de fondo de Pokémon */
}

.text-pokemon {
  color: #ffffff; /* Color de texto para Pokémon */
  font-family: 'PokemonFont', sans-serif; /* Fuente de Pokémon */
}

.btn-pokemon {
  background-color: #f44336; /* Color de fondo de los botones */
  color: #ffffff; /* Color de texto para los botones */
  margin-right: 10px; /* Espacio a la derecha de los botones */
}
